@model List<MyGame>

<h1>Lista gier</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Tytuł</th>
            <th>Rok wydania</th>
            <th>Gatunek</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @{ int lp = 0; }
        @foreach (var game in Model)
        {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@game.Title</td>
                <td>@game.ReleaseYear</td>
                <td>@game.Genre</td>
                <td>
                    <form method="post" action="@Url.Action("DeleteGame", new { id = game.Id })" onsubmit="return confirm('Are you sure you want to delete this game?');">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
